<header>
    <div class="header">
        <div class="logo">
            <img src="../../../favicon.ico" alt="Logo do PrimeTech">
            <h2>PrimeTech</h2>
        </div>
        <div class="separator-header">
            <div class="suport">
                <mat-icon>mail</mat-icon>
                <div>
                    <h4>Email do suporte</h4>
                    <p>primetech&#64;gmail.com</p>
                </div>
            </div>
            <div class="suport">
                <mat-icon>call</mat-icon>
                <div>
                    <h4>Telefone do suporte</h4>
                    <p>+47 11234-5678</p>
                </div>
            </div>
            <div class="suport">
                <mat-icon>schedule</mat-icon>
                <div>
                    <h4>Horários</h4>
                    <p>Seg - Sexta 08:00 - 17:00</p>
                </div>
            </div>
        </div>
    </div>
    <nav class="nav-bar">
        <ul>
            <li>Início</li>
            <li>Sobre</li>
            <li>Serviços</li>
            <li>Páginas</li>
            <li>Projetos</li>
            <li>Notícias</li>
            <li>Contatos</li>
        </ul>
        <button>Marcar Horário</button>
    </nav>
</header>