<app-header></app-header>
<main>
    <section class="banner">
        <h1>PrimeTech Engenharia</h1>
        <p>Oferecemos um serviço profissional para clientes particulares e comerciais.</p>
        <div class="buttons">
            <button class="who-us">Quem Somos <mat-icon>arrow_forward_ios</mat-icon></button>
            <button class="our-projects">Nossos Projetos <mat-icon>arrow_forward_ios</mat-icon></button>
        </div>
        <img class="btn-next" src="../../../assets/Btn Next.png">
        <img class="btn-prev" src="../../../assets/Btn Prev.png">
    </section>
    <section class="articles-container">
        <div class="absolute">
            <article>
                <img src="../../../assets/anuncio1.png" alt="">
                <h3>Começo da empresa</h3>
                <p>Inaugurada em 2019, a PrimeTech Engenharia surgiu com a visão clara de elevar os padrões de
                    excelência no setor de engenharia e construção.</p>
                <a href="#a">Ler mais ></a>
            </article>
            <article>
                <img src="../../../assets/anuncio2.png" alt="">
                <h3>Sede da nossa empresa</h3>
                <p>Localizada estrategicamente em Jaraguá do Sul, a sede da PrimeTech é um reflexo dos nossos valores de
                    qualidade, inovação e excelência.</p>
                <a href="#a">Ler mais ></a>
            </article>
            <article>
                <img src="../../../assets/anuncio3.png" alt="">
                <h3>O que fazemos?</h3>
                <p>Na PrimeTech, estamos determinados em fornecer soluções de engenharia e construção de alta qualidade,
                    que ultrapassem as suas expectativas</p>
                <a href="#a">Ler mais ></a>
            </article>
        </div>
    </section>
    <section class="building-dreams">
        <div class="block-us">
            <div>
                <h2>Sobre nós</h2>
                <h1>Construindo mais do que casas, construindo e arquitetando sonhos</h1>
                <p>Nossa empresa tem o objetivo de, criar, e arquitetar os melhores tipos de projetos e construções
                    possíveis de acordo com os gostos do cliente, sempre prezando pelo respeito, comunicação e qualidade
                    de serviço.</p>
                <button class="button-dreams">Sobre nós<mat-icon>arrow_forward_ios</mat-icon></button>
            </div>
        </div>
        <img src="../../../assets/Building-dreams.png" alt="Building dreams imagem">
    </section>
    <section class="container-services">
        <h1>Serviços</h1>
        <div class="services">
            <div class="article-services">
                <img src="../../../assets/iconShovel.png" alt="Icone de uma pá">
                <div>
                    <h3>Contratação Geral</h3>
                    <p>Com mais de 15 anos de experiência e foco real na satisfação do cliente, você pode contar conosco para sua próxima reforma.</p>
                </div>
            </div>
            <div class="article-services">
                <img src="../../../assets/iconBandeja.png" alt="Icone de uma bandeja de garçom">
                <div>
                    <h3>Contratação Geral</h3>
                    <p>Com mais de 15 anos de experiência e foco real na satisfação do cliente, você pode contar conosco para sua próxima reforma.</p>
                </div>
            </div>
            <div class="article-services">
                <img src="../../../assets/iconCarrinho.png" alt="Icone de um carrinho de mão">
                <div>
                    <h3>Contratação Geral</h3>
                    <p>Com mais de 15 anos de experiência e foco real na satisfação do cliente, você pode contar conosco para sua próxima reforma.</p>
                </div>
            </div>
        </div>
    </section>
</main>